{% extends "EditorImgeditorBundle::layout.html.twig" %}

{% block body %}


<div id="step-load-image">
    
    {{form(form)}}
   
</div>

<div id="step-edit-image">
    <div>
        <ul id="toolbar">
            <li><a class="btn">Obróć</a></li>
            <li><a class="btn">Przytnij</a></li>
            <li><a class="btn">Cofnij</a></li>
        </ul>
    </div>
        
    <div id="scene">
        
        
    </div>
    
    
</div>


1) Użytkownik ładuje zjęcie
    1.1) Sukces - tworzymy model img {hash: "hash_kroku"}









{% endblock %}