{% extends "EditorImgeditorBundle::layout.html.twig" %}

{% block body %}


<div id="step-1-template">
    {{ form_start(form, {"attr": {"id": "f-image"}}) }}
          {{ form_row(form.file, {"id": "file"} ) }}
    {{ form_end(form) }}
</div>

{#

    <form  id="f-image" enctype="multipart/form-data">
        <input type="file" id="image" value="wybierz zdjęcie" />
    </form>
</div>
#}

    {% raw %}
<script>
    window.onload = function() {

        var App = (function() {
            "use strict";

            var ViewUpload = Backbone.View.extend({
                el: $("#step-1-template"),
                events: {
                    "change #file": "upload"
                },
                initialize: function() {
                    _.bindAll(this, "upload");
                },
                upload: function() {

                    console.log(this);
                    var formData = new FormData(this.$el.find("#f-image").get(0));
                    var file = this.$el.find("#file").get(0).files[0];
                    formData.append("file", file);
                    $.ajax({
                        url: {% endraw %}"{{ path("editor_imgeditor_project") }}"{% raw %},
                        data: formData,
                        processData: false,
                        contentType: false,
                        method: "POST"
                    });
                }
            });

            var viewUpload = new ViewUpload();

        })();
    };
    </script>
    {% endraw %}

    <div id="step-edit-image">
        <div>
            <ul id="toolbar">
                <li><a class="btn">Obróć</a></li>
                <li><a class="btn">Przytnij</a></li>
                <li><a class="btn">Cofnij</a></li>
            </ul>
        </div>
        <div id="scene">
        </div>
    </div>
{% endblock %}